<div class="animate form login_form">
  <%= form_with(url: users_backoffice_profile_path, model: @user, local: true) do |form| %>
    <div class="col-md-3">
      <h1 style="font-family: Calibri">Editando Conta</h1>
      <div class="form-group">
        <%= form.label :email %>
        <%= form.email_field :email, autofocus: true, placeholder:"Email", class:"form-control", disabled:"true" %>
      </div>
      <div class="form-group">
        <%= form.label :nome %>
        <%= form.text_field :username, placeholder:"Nome", class:"form-control" %>
      </div>
      <div class="form-group">
      <%= form.label :Numero_da_conta %>
        <%= form.number_field :number_account, class:"form-control", disabled:"true" %>
      </div>
      <div class="form-group">
        <%= form.label :senha %>
        <%= form.password_field :password, placeholder:"Senha", class:"form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :Confirmação_da_senha %>
        <%= form.password_field :password_confirmation, placeholder:"Confirmação da Senha", class:"form-control" %>
      </div>
      <div class="form-group">
        <%= form.submit "Salvar", class:"btn btn-primary submit" %>
        <%= link_to "Cancelar", users_backoffice_profile_index_path, class:"btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>