<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application' %>
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'Bank Online', users_backoffice_index_path, class:"navbar-brand" %>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Sacar', users_backoffice_withdraw_path %></li>
              <li><%= link_to 'Depositar', users_backoffice_deposit_path %></li>
              <li><%= link_to 'Transferência', users_backoffice_transfer_path %></li>
              <li><%= link_to 'Saldo', users_backoffice_balance_path %></li>
              <li><%= link_to 'Extrato', users_backoffice_extract_path %></li>
              <li><%= link_to 'Editar Conta', users_backoffice_edit_path %></li>
              <li><%= link_to 'Encerrar Conta', users_backoffice_closing_account_path %></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out fafw"></i> Sair
                <% end %>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <%= yield %>

      <div class="jumbotron">
        <% if @user.account.name? %>
          <h3>Olá, <%= @user.account.name %>!</h3>
          <p>
            Esta aplicação é uma simulação de um banco online.
          </p>
        <% else %>
          <h3>
            Olá, <%= @user.email %>
            <p>
              Caso queira editar sua conta, adicionando seu nome, clique em 'editar conta'.
            </p>
          </h3>
        <% end %>
      </div>
      
    </div> <!-- /container -->

    <%= javascript_include_tag 'application' %>
  </body>
</html>